@charset "utf-8";
/* CSS Document */


header {
  position: relative;
  
  height: 90vh;
  min-height: 25rem;
  
  overflow: hidden;
}

header video {
  position: absolute;
  top: 67%;
  left: 60%;
  
  
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}



/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  

  header video {
    display: none;
  }
}






.card-body h5{
	margin: 9px
}

.cuoibasic{
	margin-bottom: 76px;
}
.nennitrobasic{
	background: rgb(33,142,218);
background: linear-gradient(127deg, rgba(33,142,218,1) 0%, rgba(14,4,128,1) 100%);
	color: #FFFFFF;
}
.nennitro{
	background: rgb(218,33,189);
background: linear-gradient(127deg, rgba(218,33,189,1) 0%, rgba(76,45,253,1) 100%);
	color: #FFFFFF;
}
.btnnitro{
	width: 100%;
	transition: transform .3s;
	background: #FFFFFF;
	
	
}

.btnnitro:hover{
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	background: #FFFFFF;
	color:#3541F2;
	transform: scale(1.02); 
	
	
}

